<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <style>
    #searchText {
        margin-right: 10px;
      }
  </style>
</head>
<body>
    <div class="jumbotron text-center">
      <!--<p>You are not Signed in please Login or Register</p>-->
      
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        
    </div>
      <div class="container text-center">
        <h3>Nightlife Cordination App</h3>
        <p>Created by Nathan O'Neel for Freecodecamp.com</p>
      </div>
      <br>
      <div id="search" class="container text-center">
        <form action="/search" method="get" class="center-block">
          <h4>Search your city for bars near you!</h4>
          <fieldset class="form-group">
            <input id="searchText" class="from-control" name="search"/>
            <input id="submit" class="btn btn-secondary" type="submit" value="Search" />
          </fieldset>
        </form>
      </div>
      <div id="results" class="container center-block text-center">
      </div>
      <br>
      <br>
      
</body>
</html>